.button {
    outline: none;
    margin-top: 30px;
    cursor: pointer;
    font: inherit;
    font-weight: bold;
    color: white;
    padding: 10px 20px;
    border: 2px solid black;
    background-color: green;
}

.button:disabled{
    color: #ccc;
    background-color: #aaa;
    cursor: not-allowed;
}